<a href="https://colab.research.google.com/github/juanvg2109/master_itm/blob/main/Python_varias_BBDD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Ejemplo MySQL

Obtener datos de una BBDD. Antes hacer:
* conda install -c anaconda mysql-connector-python  
Otra opci칩n
* pip install mysql-connector-python

In [ ]:
import mysql.connector  # paquete acceso MySQl
import pandas as pd

Establecemos la conexi칩n

Ejemplo BBDD local

In [ ]:
import mysql.connector
connmysql = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="root",
  use_pure = True
)
print(connmysql)

<mysql.connector.connection.MySQLConnection object at 0x00000217F9929E48>

Creacion del objeto cursor para lanzar la SQL y recuperar las filas

In [ ]:
cursordb = connmysql.cursor()
sql = "select id_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto FROM DW_AERO.DM_AEROPUERTOS"
cursordb.execute(sql)
res = cursordb.fetchall() #lista de tuplas

In [ ]:
res

Volcamos resultado a dataframe Pandas

In [ ]:
df = pd.DataFrame(res, columns=['id_aeropuerto', 'nombre_aeropuerto', 'ciudad_aeropuerto'])
df.head(10)

   id_aeropuerto           nombre_aeropuerto ciudad_aeropuerto
0             -1                 Desconocido       Desconocido
1              1                      Goroka            Goroka
2              2                      Madang            Madang
3              3                 Mount Hagen       Mount Hagen
4              4                      Nadzab            Nadzab
5              5  Port Moresby Jacksons Intl      Port Moresby
6              6                  Wewak Intl             Wewak
7              7                  Narsarsuaq      Narssarssuaq
8              8                        Nuuk          Godthaab
9              9           Sondre Stromfjord       Sondrestrom

Acceso a BBDD en cloud.   
Antes realizar pasos de: guion_acceso_Python_BBDD

A침adir c칩digo para acceso cloud y ejemplos Oracle y otras BBDD

In [ ]:
import mysql.connector
connmysql2 = mysql.connector.connect(
  host="byknsmhyjfmtntfyi8ek-mysql.services.clever-cloud.com",
  user="ute2kh557poft0uo",
  passwd="BUELFCpNTFndASGTRLI5"
  #use_pure = True
)
print(connmysql2)

<mysql.connector.connection.MySQLConnection object at 0x0000027ED20E9748>

In [ ]:
# OJO cambiar nombre de base de datos
cursordb2 = connmysql2.cursor()
sql = "select id_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto FROM byknsmhyjfmtntfyi8ek.DM_AEROPUERTOS"
cursordb2.execute(sql)
res = cursordb2.fetchall() #lista de tuplas

In [ ]:
res

[(9900, 'Getafe', 'Madrid'),
 (9901, 'Barajas', 'Madrid'),
 (9903, 'Cuatro Vientos', 'Madrid')]

In [ ]:
df = pd.DataFrame(res, columns=['id_aeropuerto', 'nombre_aeropuerto', 'ciudad_aeropuerto'])
df.head(10)

   id_aeropuerto nombre_aeropuerto ciudad_aeropuerto
0           9900            Getafe            Madrid
1           9901           Barajas            Madrid
2           9903    Cuatro Vientos            Madrid

Otra opci칩n muy interesante es __sqlalchemy__ que permite conectar a varias BBDD y est치 muy integrado con Pandas    
https://www.sqlalchemy.org/

### Ejemplo PostgreSQL

Necesario instalar psycopg2   
pip install psycopg2

In [ ]:
import psycopg2

In [ ]:
conn = psycopg2.connect(
    user='uk2sis1m2kbfhmsvmqvb',
    password='gGslgFe2gj5DBpxF4K6a',
    host='bjkdpab4tsbwg5xn6kds-postgresql.services.clever-cloud.com',
    port='5432',
    database='bjkdpab4tsbwg5xn6kds'
)

In [ ]:
cursor = conn.cursor()
cursor.execute("ROLLBACK")
conn.commit()

In [ ]:
cursor

In [ ]:
cursor.execute("select id_aeropuerto, nombre_aeropuerto, ciudad_aeropuerto FROM public.DM_AEROPUERTOS")

In [ ]:
res = cursor.fetchall()
res

[(9900, 'Getafe', 'Madrid'), (9901, 'Barajas', 'Madrid')]

In [ ]:
df2 = pd.DataFrame(res, columns=['id_aeropuerto', 'nombre_aeropuerto', 'ciudad_aeropuerto'])
df2.head(10)

   id_aeropuerto nombre_aeropuerto ciudad_aeropuerto
0           9900            Getafe            Madrid
1           9901           Barajas            Madrid

In [ ]:
for row in cursor:
    print(row)

In [ ]:
conn.close()

### Ejemplo MongoDB

Necesario instalar pymongo

In [ ]:
import pymongo
from pymongo import MongoClient
import pandas as pd

In [ ]:
# obtener connection URI del dashboard
client = MongoClient('mongodb://u9qx55ml2rd8x6vzp0p7:oGC58b4OzI82rpGzWkge@bbvmshwme4em6sg-mongodb.services.clever-cloud.com:27017/bbvmshwme4em6sg',
                    username = "u9qx55ml2rd8x6vzp0p7",
                    password = "oGC58b4OzI82rpGzWkge")

In [ ]:
server_info = client.server_info()
print (server_info)

{'version': '4.0.3', 'gitVersion': '7ea530946fa7880364d88c8d8b6026bbc9ffa48c', 'modules': [], 'allocator': 'tcmalloc', 'javascriptEngine': 'mozjs', 'sysInfo': 'deprecated', 'versionArray': [4, 0, 3, 0], 'openssl': {'running': 'OpenSSL 1.1.1a  20 Nov 2018', 'compiled': 'OpenSSL 1.1.1a  20 Nov 2018'}, 'buildEnvironment': {'distmod': '', 'distarch': 'x86_64', 'cc': 'x86_64-pc-linux-gnu-cc: x86_64-pc-linux-gnu-gcc (GCC) 8.2.0', 'ccflags': '-fno-omit-frame-pointer -fno-strict-aliasing -pthread -Wall -Wsign-compare -Wno-unknown-pragmas -Winvalid-pch -O2 -Wno-unused-local-typedefs -Wno-unused-function -Wno-deprecated-declarations -Wno-unused-const-variable -Wno-unused-but-set-variable -Wno-missing-braces -fstack-protector-strong -fno-builtin-memcmp', 'cxx': 'x86_64-pc-linux-gnu-c++: x86_64-pc-linux-gnu-g++ (GCC) 8.2.0', 'cxxflags': '-Woverloaded-virtual -Wno-maybe-uninitialized -std=c++14', 'linkflags': '-pthread -Wl,-z,now -rdynamic -fstack-protector-strong -fuse-ld=gold -Wl,--build-id -Wl,--hash-style=gnu -Wl,-z,noexecstack -Wl,--warn-execstack -Wl,-z,relro', 'target_arch': 'x86_64', 'target_os': 'linux'}, 'bits': 64, 'debug': False, 'maxBsonObjectSize': 16777216, 'storageEngines': ['devnull', 'ephemeralForTest', 'mmapv1', 'wiredTiger'], 'ok': 1.0, 'operationTime': Timestamp(1636446521, 38), '$clusterTime': {'clusterTime': Timestamp(1636446521, 38), 'signature': {'hash': b'{\xf5\xd7@\x8f\n\xf1\xa9p1\xb1\xb8$d*\xff\xf9\xa2\r\x12', 'keyId': 6981797006997979137}}}

In [ ]:
db = client.bbvmshwme4em6sg

In [ ]:
# Cursor
res1 = db.c_clientes.find()

#recorremos todos los dic
for doc in res1:
    print(doc)

{'_id': ObjectId('6098f9a667efde452937c2a9'), 'id_cliente': '001', 'nombre': 'ABB', 'edad': 31.0}
{'_id': ObjectId('6098f9ba67efde452937c2aa'), 'id_cliente': '002', 'nombre': 'MAB', 'edad': 44.0}
{'_id': ObjectId('6098f9bb67efde452937c2ab'), 'id_cliente': '003', 'nombre': 'CGM', 'edad': 37.0}

In [ ]:
res2 = db.c_clientes.find({'id_cliente':'002'})
for doc in res2:
    print(doc)

{'_id': ObjectId('6098f9ba67efde452937c2aa'), 'id_cliente': '002', 'nombre': 'MAB', 'edad': 44.0}

In [ ]:
db.prueba.insert({
'campo1': 'aaa',
'campo2': 4,
'campo3': 'z'})

C:\Users\Equipo\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: DeprecationWarning: insert is deprecated. Use insert_one or insert_many instead.
  after removing the cwd from sys.path.

ObjectId('618a319f756d292e2c3eadeb')

In [ ]:
res3 = db.prueba.find()

### Ejemplo SQL Server

Necesario instalar pyodbc:  
    pip install pyodbc

In [ ]:
import pyodbcconn = pyodbc.connect(
    'Driver={SQL Server};'
    'Server=DESKTOP-SERVER\SQLEXPRESS;'
    'Database=dababase;'
    'Trusted_Connection=yes;'
)cursor = conn.cursor()
cursor.execute('SELECT TOP 5 * FROM dbo.table_transactions')for row in cursor: print(row)
conn.close()

### Ejemplo de Oracle

Necesario instalar cx_oarcle   
    pip install cx_oracle

In [ ]:
import cx_Oracledsn = cx_Oracle.makedsn(
    'localhost',
    '1521',
    service_name='orcl'
)
conn = cx_Oracle.connect(
    user='user',
    password='pass',
    dsn=dsn
)c = conn.cursor()
c.execute('SELECT * FROM employees WHERE ROWNUM <= 10')for row in c: print(row)
conn.close()